.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d4373;
    color: #FFF;
    padding: 0 24px;
   
  
    ul {
      list-style: none;
      display: flex;
      gap: 15px;
      align-items: center;
  
      margin-right: 53px;
    }
  
    a {
      color: #FFF;
      padding: 10px;
      text-decoration: none;
  
  
      &.active {
        opacity: .5;
        cursor: default;
        pointer-events: none;
        color: yellow;
      }
    }
  }
  
  .logo {
    font-size: 22px;
    line-height: 32px;
  
  }
  
  .svgWrapper {
    width: 24px;
    height: 24px;
    fill: white;
  
    &:hover {
      cursor: pointer;
      fill: gold
    }
  }
  
  .favoriteCounter {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 12px;
    position: absolute;
  }
  
  .cartCounter {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 12px;
    position: absolute;
  }
